# Build directories
build/
bin/

# Simulations output
**/output/
**/output_images/
**/results/

# Dependencies (for Matter)
deps/**/*
!deps/json.hpp


# Nakonec ignoruj vše uvnitř, kromě tvého souboru
deps/**/*
!deps/**/json.hpp

# Executables & Libraries
*.exe
*.out
*.app
*.so
*.a
*.lib
*.dll

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

*:Zone.Identifier
*.obj

# CMake cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
log.log

.VSCodeCounter/
