# Build directories
build/
bin/

# Simulations output
**/output/
**/output_images/
**/results/
# Installed dependencies
vcpkg_installed/

# External/submodule dependencies
# Ignoruj celý adresář /deps...
/deps/
# ...ale ponech v něm soubor json.hpp
!/deps/json.hpp
matter/deps/
raytracing/external/

# Executables & Libraries
*.exe
*.out
*.app
*.so
*.a
*.lib
*.dll

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

*:Zone.Identifier
# Ignoruj všechny .obj soubory (výsledky kompilace)...
*.obj
# ...ale ponech soubor s modelem špachtle
!/data/spatula_handler.obj

# CMake cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
log.log

.VSCodeCounter/
